# Renesas RDP HAL config

# Copyright (c) 2024 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config HAS_RENESAS_RX_RDP
	bool
	help
	  Enable Renesas RX RDP support

if HAS_RENESAS_RX_RDP

endif # HAS_RENESAS_RX_RDP
