# Copyright (c) 2024 Arif Balik <arifbalik@outlook.com>
# SPDX-License-Identifier: Apache-2.0

config STM32_TSC
	bool "STM32 TSC driver"
	depends on DT_HAS_ST_STM32_TSC_ENABLED
	help
	  Enable driver for STM32 TSC peripheral.

if STM32_TSC

config STM32_TSC_INTERRUPT
	bool "Use interrupt for STM32 TSC"
	default y
	depends on INPUT
	depends on INPUT_MODE_SYNCHRONOUS
	help
	  Use interrupt for STM32 TSC peripheral.

endif
